html {
  box-sizing: border-box;
  overflow: hidden;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --grid-size: 10;
}

#game {
  --padding: 20px;
  max-width: 860px;
  min-width: 300px;
  width: calc(100vw - calc(var(--padding) * 2));
  height: 100vh;
  padding: 0 var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  justify-content: space-around;
}

#grid {
  position: relative;
  display: flex;
  flex-direction: column;
}

#grid .line {
  display: flex;
}

#grid .tile {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  color: white;
}
#grid .tile.n {
  background-color: royalblue;
}
#grid .tile.S {
  background-color: sandybrown;
}
#grid .tile.G {
  background-color: green;
}

#grid .tile > .info {
  position: absolute;
  display: none;
}

#grid .entity-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20%;
}
#grid .entity {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-size: cover;
}
#grid .entity.X {
  background-image: url("../../assets/images/stx.svg");
  animation: rotate-scale-up 3s linear infinite both;
}

.toshi {
  position: absolute;
  top: 0%;
  left: 0%;
  width: calc(100% / var(--grid-size));
  padding: 2%;
  aspect-ratio: 1;
  opacity: 0;
  transition: top 300ms ease-in-out, left 300ms ease-in-out,
    opacity 300ms ease-out, transform 300ms ease-in-out;
}
.toshi.visible {
  opacity: 1;
}
.toshi.no-transition {
  transition: none;
}
.toshi .toshi-img {
  width: 100%;
  aspect-ratio: 1;
  background-image: url(../images/toshi/s.png);
  background-position: center;
  background-size: contain;
}
.toshi.dir-N .toshi-img {
  background-image: url(../images/toshi/n.png);
}
.toshi.dir-S .toshi-img {
  background-image: url(../images/toshi/s.png);
}
.toshi.dir-E .toshi-img {
  background-image: url(../images/toshi/e.png);
}
.toshi.dir-W .toshi-img {
  background-image: url(../images/toshi/w.png);
}

header {
  padding: 20px 0;
  max-height: 100%;
}

footer {
  height: 100%;
  max-height: 100%;
}
footer h3 {
  height: 20px;
}
footer #console {
  height: calc(100% - 20px);
  background-color: bisque;
  padding: 20px;
}
