footer {
  height: 50vh;
  max-height: 50%;
}
footer h3 {
  height: 20px;
}
footer #console {
  height: 100%;
  padding: 20px 60px;
  overflow: hidden;
  background-image: url("../images/ui/log-sheet-short.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#log-title {
  height: 5vw;
  background-repeat: no-repeat;
  margin: 20px;
  background-image: url("../images/ui/captainslog.svg");
}

.log-result {
  color: dodgerblue;
  font-size: x-large;
}

.log-error {
  color: crimson;
  font-size: x-large;
}

.log-print {
  color: black;
  font-size: xx-large;
  font-family: "Brush Script MT", cursive;
}

.log-success {
  color: olivedrab;
  font-size: xx-large;
}
